<nav>
  <div class="nav-container">

    <div class="titulo-site">
      <a href="/">
        <h1>Lorem.dev</h1>
      </a>
    </div>
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="/blog/criar">Novo Blog</a></li>
    </ul>
  </div>
</nav>
